header{
    .active{
        color: blue;
        border-bottom: 1px solid blue;
        background-color: white;
    }
}
.img-container{
    height: 80px;
    img{
        height: 100%;
    }
}
.jumbo{
    height:400px ;
    overflow: hidden;
}